---
layout: page
title: pages.news
pagination:
  enabled: true

namespace: news
permalink: /news/
---
<div class="news">
  <div class="section sec1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {%- translate_file news/sec1.md -%}
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          {%- include twitter-feed.html -%}

        </div>
        <div class="col-md-4">
          {%- include steemit-feed.html -%}

        </div>
        <div class="col-md-4">
          {%- include youtube-feed.html -%}

        </div>
      </div>
    </div>
  </div>

  <a name="posts"></a>
  <div class="section grey">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {%- if site.posts.size > 0 -%}
          <!--
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            -->
          <div class="row">
            {% for post in paginator.posts %}
            <div class="col-md-4">
              {% if post.external_link %}
              <a href="{{ post.external_link }}">
              {% else %}
              <a href="{{ post.url | relative_url }}">
              {% endif %}
                <div class="card"">
                  <img class="card-img-top" src="{{ post.image | default:"/assets/news/default.png"
                    }}"
                    alt="{{ post.title | escape }}" style="max-height: 179px;">
                  <div class="card-body">
                    <h5 class="card-title">{{ post.title | escape }}</h5>

                    <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date |
                      date_to_long_string }}</time>
                    <p class="card-text">{{ post.excerpt | truncate: 400 }}</p><!-- | truncate: 400 -->
                    {% if post.external_link %}
                    <a href="{{ post.external_link }}" class="link">{% translate news.more %} ↗</a>
                    {% else %}
                    <a href="{{ post.url | relative_url }}" class="link">{% translate news.more %}</a>
                    {% endif %}
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
          {%- else -%}
          {%- translate_file news/no-news.md -%}
          {%- endif -%}

          {% if paginator.total_pages > 1 %}
          <center>
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}#posts"
              class="btn solid dark btn-raised">Previous</a>
            {% else %}
            <a class="btn solid light btn-raised">Previous</a>
            {% endif %}
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}#posts"
              class="btn solid dark btn-raised">Next</a>
            {% else %}
            <a class="btn solid light btn-raised">Next</a>
            {% endif %}
          </center>
          {% endif %}
        </div>
      </div>
    </div>
    {%- include footer-plains.html -%}
  </div>
</div>