<div class="core-principles">
    <a name="core-principles"></a>
    {% translate_file vision-core-principles/core-principles.md %}
    <div class="row">
        <div class="col-md-4 box">
        <div class="card">
            <div class="card-body">
            {% translate_file vision-core-principles/box1.md %}
            </div>
        </div>
        </div>
        <div class="col-md-4 box">
        <div class="card">
            <div class="card-body">
            {% translate_file vision-core-principles/box2.md %}
            </div>
        </div>
        </div>
        <div class="col-md-4 box">
        <div class="card">
            <div class="card-body">
            {% translate_file vision-core-principles/box3.md %}
            </div>
        </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 box">
        <div class="card">
            <div class="card-body">
            {% translate_file vision-core-principles/box4.md %}
            </div>
        </div>
        </div>
        <div class="col-md-4 box">
        <div class="card">
            <div class="card-body">
            {% translate_file vision-core-principles/box5.md %}
            </div>
        </div>
        </div>
        <div class="col-md-4 box">
        <div class="card">
            <div class="card-body">
            {% translate_file vision-core-principles/box6.md %}
            </div>
        </div>
        </div>
    </div>
</div>