<footer class="site-footer h-card" style="border:0;padding:0;">
  <div class="footer">

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          {% translate_file footer/links.md %}
        </div>
        <div class="col-md-6">
          {% translate_file footer/newsletter.md %}
          {% include newsletter-form.html %}
        </div>
        <div class="col-md-3">
          {% translate_file footer/social.md %}
        </div>
      </div>
    </div>

    <div class="container">
      <hr style="padding: 10px 0; border-color: #BABDBE;" /><div class="row">
        <div class="col-md-2">
          <img src="/assets/signet-white.svg" height="50" alt="{{ site.title |
            escape }}">
        </div>
        <div class="col-md-10">
          {% for my_page in site.pages %}
          {% if my_page.title and my_page.autogen == nil %}
          <a class="nav-link" href="{{ my_page.url | relative_url }}"
            style="text-transform: none; display: inline-block; margin-top: 5px;
            color: white;">{% t my_page.title %}</a>
          {%- endif -%}
          {%- endfor -%}
        </div>
      </div></div>
  </div>
</footer>
<script src="https://vjs.zencdn.net/7.4.1/video.js"></script>
<script src="/assets/videojs-resolution-switcher.js"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
  integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
  crossorigin="anonymous"></script>
<script
  src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
  integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
  crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
  $('body').bootstrapMaterialDesign()
  //initialize video players on why-join page
  videojs('why-join-video-1', null, function() {
    var player = this
    window.player = player
    player.on('fullscreenchange', function() {
      if(player.isFullscreen()) {
        label='SD'
        if(screen.width>1280) label='HD'
        player.currentResolution(label)
      } else
        player.currentResolution('SD')
    })
  }).videoJsResolutionSwitcher()
  videojs('why-join-video-2', null, function() {
    var player = this
    window.player = player
    player.on('fullscreenchange', function() {
      if(player.isFullscreen()) {
        label='SD'
        if(screen.width>1280) label='HD'
        player.currentResolution(label)
      } else
        player.currentResolution('SD')
    })
  }).videoJsResolutionSwitcher()
  videojs('why-join-video-3', null, function() {
    var player = this
    window.player = player
    player.on('fullscreenchange', function() {
      if(player.isFullscreen()) {
        label='SD'
        if(screen.width>1280) label='HD'
        player.currentResolution(label)
      } else
        player.currentResolution('SD')
    })
  }).videoJsResolutionSwitcher()
})
</script>
{% include scatter-vote.html %}