<header class="site-header" role="banner" style="border:0">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="background-image:linear-gradient(to right, #4A1289, #7C41BA)">
  <a class="navbar-brand" href="{{ "/" | relative_url }}">
    <img src="/assets/signet-white.svg" height="30" alt="{{ site.title | escape }}">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- if page_paths -%}
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        {%- if my_page.url == page.url -%}
        <li class="nav-item active">
        {%- else -%}
        <li class="nav-item">
        {%- endif -%}
            <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        </li>
        {%- endif -%}
      {%- endfor -%}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="/assets/flags/{{ site.lang }}.png"/><!-- {{ site.languageNames[site.lang] }}-->
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for lang in site.languageNames %}
          {% if lang[0] == site.lang %} {% continue %} {% endif %}
          {% if page.namespace %}
          <a class="dropdown-item" href="{% tl {{ page.namespace }} {{ lang[0] }} %}"><img src="/assets/flags/{{ lang[0] }}.png"/>&nbsp;{{ lang[1] }}</a>
          {% else %}
          {% if lang[0] == site.defaultLang %}
          <a class="dropdown-item" href="{{ site.baseurl_root }}/"><img src="/assets/flags/{{ lang[0] }}.png"/>&nbsp;{{ lang[1] }}</a>
          {% else %}
          <a class="dropdown-item" href="{{ site.baseurl_root }}/{{ lang[0] }}/"><img src="/assets/flags/{{ lang[0] }}.png"/>&nbsp;{{ lang[1] }}</a>
          {% endif %}
          {% endif %}
          {% endfor %}
        </div>
      </li>
      <!--<li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>-->
    </ul>
    <span class="navbar-text nav-buttons">
      <a href="{% translate_link why-vote %}" class="btn btn-light">{% translate header.vote %}</a>
      <a href="https://members.eosdac.io" class="btn btn-outline-light">{% translate header.mclient %}</a>
    </span>
  </div>
  {%- endif -%}
</nav>
</header>
