<header class="site-header" role="banner" style="border:0">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark nav-tabs"
    style="background-image:linear-gradient(to right, #4A1289, #7C41BA)">
    <a class="navbar-brand" href="{% translate_link home %}">
      <img src="/assets/signet-white.svg" height="42" alt="{% t site.title %}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        {% for my_page in site.pages %}
        {% if my_page.title and my_page.autogen == nil %}
        <li class="nav-item">
          {%- if my_page.url == page.url -%}
          <a class="nav-link active" href="{{ my_page.url | relative_url }}">
            {% t my_page.title %}</a>
          {%- else -%}
          <a class="nav-link" href="{{ my_page.url | relative_url }}">
            {% t my_page.title %}</a>
          {%- endif -%}
        </li>
        {% endif %}
        {% endfor %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
            role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img src="/assets/flags/{{ site.lang }}.png" />
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for lang in site.languageNames %}
            {% if lang[0] == site.lang %} {% continue %} {% endif %}
            {% if page.namespace %}
            {% if page.pagination and page.pagination.enabled %}
            {% if lang[0] == site.defaultLang %}
            <a class="dropdown-item" href="/{{ page.namespace }}">
              <img src="/assets/flags/{{ lang[0] }}.png" />&nbsp;{{ lang[1] }}
            </a>
            {% else %}
            <a class="dropdown-item" href="/{{ lang[0] }}/{{ page.namespace }}">
              <img src="/assets/flags/{{ lang[0] }}.png" />&nbsp;{{ lang[1] }}
            </a>
            {% endif %}
            {% else %}
            <a class="dropdown-item" href="{% tl {{ page.namespace }} {{ lang[0] }} %}">
              <img src="/assets/flags/{{ lang[0] }}.png" />&nbsp;{{ lang[1] }}
            </a>
            {% endif %}
            {% endif %}
            {% endfor %}
          </div>
        </li>
      </ul>
      <span class="navbar-text nav-buttons">
        <a href="{% translate_link why-vote %}#voting-matters" class="btn solid light btn-raised scatter-vote-oneclick">
          {% translate header.vote %}
        </a>
        <a href="https://members.eosdac.io/" class="btn outline light btn-raised">
          {% translate header.mclient %}
        </a>
      </span>
    </div>
  </nav>
</header>
