<form id="newsletterForm">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="bmd-label-floating">
                    {% translate newsletterForm.name %}
                </label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="email" class="bmd-label-floating">
                    {% translate newsletterForm.email %}
                </label>
                <input type="email" class="form-control" id="email" name="email"
                    required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <select class="form-control" id="language" name="language" required>
                <option value="">{% translate newsletterForm.language %}</option>
                <option value="English">&nbsp;&nbsp;&nbsp;&nbsp;English</option>
                <option value="Russian">&nbsp;&nbsp;&nbsp;&nbsp;Pусский</option>
                <option value="Korean">&nbsp;&nbsp;&nbsp;&nbsp;한국어</option>
                <option value="Chinese">&nbsp;&nbsp;&nbsp;&nbsp;简体中文</option>
            </select>
        </div>
        <div class="col-md-6">
            <button type="submit" id="submitButton" class="btn">
                {% translate newsletterForm.subscribe %}
            </button>
        </div>
    </div>
</form>
<script>
$('#newsletterForm').submit(function(event) {
    event.preventDefault();
    $.post('https://toolkit-api.eosdac.io/subscribe', $(this).serialize())
    .done( function(result) {
        if(result && (result.message === 'subscribed_successfully' || result.message === 'already_subscribed')) {
            alert('{% translate newsletterForm.success %}');
            document.getElementById('newsletterForm').reset();
        } else {
            alert('{% translate newsletterForm.error %}:\n'+JSON.stringify(result));
        }
    })
    .fail( function(xhr, textStatus, errorThrown) {
        alert('{% translate newsletterForm.error %} '+xhr.status+':\n'+xhr.responseText);
    });
});
</script>