<script src="/assets/eosjs/eosjs-api.js"></script>
<script src="/assets/eosjs/eosjs-jsonrpc.js"></script>
<script src="/assets/eosjs/eosjs-jssig.js"></script>
<script src="https://cdn.scattercdn.com/file/scatter-cdn/js/latest/scatterjs-core.min.js"></script>
<script src="https://cdn.scattercdn.com/file/scatter-cdn/js/latest/scatterjs-plugin-eosjs2.min.js"></script>
<script type="text/javascript">
// This file needs to be included via the LIQUID template engine, in order to make the translations work!

// Here is how to calculate the vote decay
// https://github.com/eosdac/eosdactoolkit/blob/master/eosdac-material/src/components/vote-eosdac.vue#L126
// https://github.com/eosdac/eosdactoolkit/blob/master/eosdac-material/src/components/vote-eosdac.vue#L169

const host = 'public.eosinfra.io' //TODO: use eu.eosdac.io instead? -> CORS problem
const network = {
    blockchain:'eos',
    protocol:'https',
    host,
    port:443,
    chainId:'aca376f206b8fc25a6ed44dbdc66547c36c6c33e3a119ffbeaef943642f0e906'
}

function castVote(api, account, producers, proxy = "") {
    const transaction = {
        actions: [{
            account: 'eosio',
            name: 'voteproducer',
            authorization: [{ actor: account.name, permission: account.authority, }],
            data: { producers: producers.sort(), proxy, voter: account.name }
        }]
    }
    return api.transact(transaction, { blocksBehind: 3, expireSeconds: 30 })
}

function errHandler(scatter, target, originalContent, err) {
    console.error('Voting error:', err)
    target.textContent = originalContent
    scatter.logout()
}

function succHandler(scatter, target, msg = '{% translate scatterVote.thanks %}') {
    target.textContent = msg
    scatter.logout() //all done, goodbye!
}

function oneClickVote(scatter, target, originalContent) {
    target.textContent = '{% translate scatterVote.voting %}'

    const rpc = new eosjs_jsonrpc.default('https://'+host)
    const api = new eosjs_api.default({ rpc, signatureProvider:scatter.eosHook(network, null, true) })
    
    scatter.login({ accounts: [network] }).then(function() {
        const account = scatter.identity.accounts.find(x => x.blockchain === 'eos')
        $.ajax({
            type: 'POST',
            url: 'https://'+host+'/v1/chain/get_account',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({ account_name: account.name }),
            error: function(err) {
                errHandler(scatter, target, originalContent, err)
            },
            success: function(data) {
                const vote = data.voter_info
                const proxy = vote.proxy
                let producers = vote.producers
                if(proxy !== '') {
                    // Re-cast vote for the current proxy (might not necessarily include eosdacserver)
                    castVote(api, account, [], proxy).then(function(result) {
                        succHandler(scatter, target, '{% translate scatterVote.proxy %}' + proxy)
                    }).catch(function(err) {
                        errHandler(scatter, target, originalContent, err)
                    })
                } else {
                    if(producers.length < 30) {
                        // Add 'eosdacserver' to producers list and cast a vote
                        producers.push('eosdacserver')
                        castVote(api, account, producers).then(function(result) {
                            succHandler(scatter, target)
                        }).catch(function(err) {
                            errHandler(scatter, target, originalContent, err)
                        })
                    } else {
                        const eosdacserverVoted = producers.some(x => x === 'eosdacserver')
                        if(eosdacserverVoted === true) {
                            // Re-cast vote for current set of producers (including eosdacserver)
                            castVote(api, account, producers).then(function(result) {
                                succHandler(scatter, target)
                            }).catch(function(err) {
                                errHandler(scatter, target, originalContent, err)
                            })
                        } else {
                            //TODO: show a popup to de-select one existing producer
                            errHandler(scatter, target, originalContent, 'TODO: implement me!')
                        }
                    }
                }
            }
        })
    }).catch(function(err) {
        console.log('Voting error:', err)
        target.textContent = originalContent
    })
}

$(document).ready(function() {
    ScatterJS.plugins( new ScatterEOS() )
    ScatterJS.scatter.connect('eosDAC.io').then(function( connected ) {
        if(!connected) {
            console.error('Scatter could not be found.')
            return false
        }

        // Scatter was successfully connected
        const scatter = ScatterJS.scatter;
        window.ScatterJS = null;
        console.info('Scatter connected.')

        // Setup the click handler for '.scatter-vote-oneclick' links
        // and prevent their default (fallback) link/button behaviour,
        // i.e. do not follow their 'href'
        $('.scatter-vote-oneclick').click(function(ev) {
            ev.preventDefault()
            const target = ev.target
            const originalContent = target.textContent
            oneClickVote(scatter, target, originalContent)
        })
        console.info('Scatter handler registered.')
    })
})
</script>
