<!-- Voting Modal -->
<div class="modal fade" id="votingModal" tabindex="-1" role="dialog" aria-labelledby="votingModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <form id="votingForm">
    <div class="modal-header">
        <h5 class="modal-title" id="votingModalLabel">{% translate scatterVote.modalHead %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            {% translate scatterVote.modalBody %} <code class="highlighter-rouge">eosdacserver</code>
        <br/><br/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6" style="padding:0;padding-right:10px;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp1"" id="bp1" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp1">blockprod1</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp2"" id="bp2" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp2">blockprod2</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp3"" id="bp3" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp3">blockprod3</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp4"" id="bp4" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp4">blockprod4</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp5"" id="bp5" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp5">blockprod5</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp6"" id="bp6" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp6">blockprod6</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp7"" id="bp7" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp7">blockprod7</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp8"" id="bp8" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp8">blockprod8</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp9"" id="bp9" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp9">blockprod9</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp10" id="bp10" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp10">blockprod10</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp11" id="bp11" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp11">blockprod11</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp12" id="bp12" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp12">blockprod12</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp13" id="bp13" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp13">blockprod13</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp14" id="bp14" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp14">blockprod14</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp15" id="bp15" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp15">blockprod15</label>
                    </div>
                </div>
                <div class="col-6" style="padding:0;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp16" id="bp16" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp16">blockprod16</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp17" id="bp17" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp17">blockprod17</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp18" id="bp18" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp18">blockprod18</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp19" id="bp19" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp19">blockprod19</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp20" id="bp20" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp20">blockprod20</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp21" id="bp21" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp21">blockprod21</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp22" id="bp22" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp22">blockprod22</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp23" id="bp23" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp23">blockprod23</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp24" id="bp24" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp24">blockprod24</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp25" id="bp25" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp25">blockprod25</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp26" id="bp26" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp26">blockprod26</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp27"" id="bp27" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp27">blockprod27</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp28" id="bp28" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp28">blockprod28</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp29" id="bp29" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp29">blockprod29</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="bp30" id="bp30" checked>
                        <label class="custom-control-label" style="font-family:monospace;" for="bp30">blockprod30</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div style="padding: 0 16px;">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate scatterVote.cancel %}</button>
            <button type="submit" class="btn solid dark btn-raised">{% translate scatterVote.vote %}</button>
        </div>
    </div>
    </form>
    </div>
</div>
</div>

<script src="/assets/eosjs/eosjs-api.js"></script>
<script src="/assets/eosjs/eosjs-jsonrpc.js"></script>
<script src="/assets/eosjs/eosjs-jssig.js"></script>
<script src="https://cdn.scattercdn.com/file/scatter-cdn/js/latest/scatterjs-core.min.js"></script>
<script src="https://cdn.scattercdn.com/file/scatter-cdn/js/latest/scatterjs-plugin-eosjs2.min.js"></script>
<script type="text/javascript">
// This file needs to be included via the LIQUID template engine, in order to make the translations work!

// Here is how to calculate the vote decay
// https://github.com/eosdac/eosdactoolkit/blob/master/eosdac-material/src/components/vote-eosdac.vue#L126
// https://github.com/eosdac/eosdactoolkit/blob/master/eosdac-material/src/components/vote-eosdac.vue#L169

const host = 'public.eosinfra.io' //TODO: use eu.eosdac.io instead? -> CORS problem
const network = {
    blockchain:'eos',
    protocol:'https',
    host,
    port:443,
    chainId:'aca376f206b8fc25a6ed44dbdc66547c36c6c33e3a119ffbeaef943642f0e906'
}
const EOSDACSERVER = 'eosdacserver'

function castVote(api, account, producers, proxy = "") {
    const transaction = {
        actions: [{
            account: 'eosio',
            name: 'voteproducer',
            authorization: [{ actor: account.name, permission: account.authority, }],
            data: { producers: producers.sort(), proxy, voter: account.name }
        }]
    }
    return api.transact(transaction, { blocksBehind: 3, expireSeconds: 30 })
}

function errHandler(scatter, target, originalContent, err) {
    console.error('Voting error:', err)
    target.textContent = originalContent
    scatter.logout()
}

function succHandler(scatter, target, msg = '{% translate scatterVote.thanks %}') {
    target.textContent = msg
    scatter.logout() //all done, goodbye!
}

function oneClickVote(scatter, target, originalContent) {
    target.textContent = '{% translate scatterVote.voting %}'

    const rpc = new eosjs_jsonrpc.default('https://'+host)
    const api = new eosjs_api.default({ rpc, signatureProvider:scatter.eosHook(network, null, true) })

    scatter.login({ accounts: [network] }).then(function() {
        const account = scatter.identity.accounts.find(x => x.blockchain === 'eos')
        $.ajax({
            type: 'POST',
            url: 'https://'+host+'/v1/chain/get_account',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({ account_name: account.name }),
            error: function(err) {
                errHandler(scatter, target, originalContent, err)
            },
            success: function(data) {
                const vote = data.voter_info
                const proxy = vote.proxy
                let producers = vote.producers
                if(proxy !== '') {
                    // Re-cast vote for the current proxy (might not necessarily include eosdacserver)
                    castVote(api, account, [], proxy).then(function(result) {
                        succHandler(scatter, target, '{% translate scatterVote.proxy %}' + proxy)
                    }).catch(function(err) {
                        errHandler(scatter, target, originalContent, err)
                    })
                } else {
                    //TODO: check logic of member-client: https://github.com/eosdac/eosdactoolkit/blob/master/eosdac-material/src/components/vote-eosdac.vue
                    const eosdacserverVoted = producers.some(function(bpName) { return bpName === EOSDACSERVER })
                    if(eosdacserverVoted === true) {
                        // Re-cast vote for current set of producers (including eosdacserver)
                        castVote(api, account, producers).then(function(result) {
                            succHandler(scatter, target)
                        }).catch(function(err) {
                            errHandler(scatter, target, originalContent, err)
                        })
                    } else {
                        if(producers.length < 30) {
                            // Add 'eosdacserver' to producers list and cast a vote
                            producers.push(EOSDACSERVER)
                            castVote(api, account, producers).then(function(result) {
                                succHandler(scatter, target)
                            }).catch(function(err) {
                                errHandler(scatter, target, originalContent, err)
                            })
                        } else {
                            // Show a modal dialog, to let the user remove one existing producer
                            // Set values inside the modal dialog
                            producers.sort().forEach(function(bpName, idx) {
                                const fieldName = 'bp'+(idx+1)
                                $('#'+fieldName).val(bpName)
                                $('#'+fieldName).prop('checked', true)
                                $("label[for='" + fieldName + "']").text(bpName)
                            })
                            // Register the submit callback, using local variables
                            $('#votingForm').submit(function(ev) {
                                ev.preventDefault()
                                const producers = $("#votingForm").serializeArray().map(function(elem) {
                                    return elem.value
                                })
                                // Add 'eosdacserver' to producers, if user removed one other producer
                                if(producers.length < 30) {
                                    producers.push(EOSDACSERVER)
                                }
                                castVote(api, account, producers).then(function(result) {
                                    $('#votingModal').modal('hide')
                                    succHandler(scatter, target)
                                }).catch(function(err) {
                                    $('#votingModal').modal('hide')
                                    errHandler(scatter, target, originalContent, err)
                                })
                            })
                            // Register the modal's Cancel/Hide handler, using local variables
                            $('#votingModal').on('hide.bs.modal', function (e) {
                                errHandler(scatter, target, originalContent, 'Modal cancelled/hidden.')
                            })
                            // Show the voting modal
                            $('#votingModal').modal('show')
                        }
                    }
                }
            }
        })
    }).catch(function(err) {
        errHandler({ logout: function() { /* Scatter not signed in */ }}, target, originalContent, err)
    })
}

$(document).ready(function() {
    ScatterJS.plugins( new ScatterEOS() )
    ScatterJS.scatter.connect('eosDAC.io').then(function( connected ) {
        if(!connected) {
            console.error('Scatter could not be found.')
            return false
        }

        // Scatter was successfully connected
        const scatter = ScatterJS.scatter;
        window.ScatterJS = null;
        console.info('Scatter connected.')

        // Setup the click handler for '.scatter-vote-oneclick' links
        // and prevent their default (fallback) link/button behaviour,
        // i.e. do not follow their 'href'
        $('.scatter-vote-oneclick').click(function(ev) {
            ev.preventDefault()
            const target = ev.target
            const originalContent = target.textContent
            oneClickVote(scatter, target, originalContent)
        })
        console.info('Scatter handler registered.')
    })
})
</script>
