<!-- Voting Modal -->
<div class="modal fade" id="votingModal" tabindex="-1" role="dialog" aria-labelledby="votingModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <form id="votingForm">
    <div class="modal-header">
        <h5 class="modal-title" id="votingModalLabel">{% translate scatterVote.modalHead %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            {% translate scatterVote.modalBody %} <code class="highlighter-rouge">eosdacserver</code>
        <br/><br/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6" style="padding:0;padding-right:10px;" id="voting_col1">
                    <!-- Will be filled via Javascript -->
                </div>
                <div class="col-6" style="padding:0;"  id="voting_col2">
                    <!-- Will be filled via Javascript -->
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div style="padding: 0 16px;">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate scatterVote.cancel %}</button>
            <button type="submit" class="btn solid dark btn-raised">{% translate scatterVote.vote %}</button>
        </div>
    </div>
    </form>
    </div>
</div>
</div>

<script src="/assets/eosjs/eosjs-api.js?{{site.time | date: '%s'}}"></script>
<script src="/assets/eosjs/eosjs-jsonrpc.js?{{site.time | date: '%s'}}"></script>
<script src="https://cdn.scattercdn.com/file/scatter-cdn/js/latest/scatterjs-core.min.js?{{site.time | date: '%s'}}"></script>
<script src="https://cdn.scattercdn.com/file/scatter-cdn/js/latest/scatterjs-plugin-eosjs2.min.js?{{site.time | date: '%s'}}"></script>
<script src="https://cdn.scattercdn.com/file/scatter-cdn/js/latest/scatterjs-plugin-lynx.min.js?{{site.time | date: '%s'}}"></script>
<script type="text/javascript">
// This file needs to be included via the LIQUID template engine, in order to make the translations work!

// Here is how to calculate the vote decay
// https://github.com/eosdac/eosdactoolkit/blob/master/eosdac-material/src/components/vote-eosdac.vue#L126
// https://github.com/eosdac/eosdactoolkit/blob/master/eosdac-material/src/components/vote-eosdac.vue#L169

const host = 'public.eosinfra.io' //TODO: use eu.eosdac.io instead? -> CORS problem
const network = {
    blockchain:'eos',
    protocol:'https',
    host,
    port:443,
    chainId:'aca376f206b8fc25a6ed44dbdc66547c36c6c33e3a119ffbeaef943642f0e906'
}
const EOSDACSERVER = 'eosdacserver'

function castVote(api, account, producers, proxy = "") {
    const transaction = {
        actions: [{
            account: 'eosio',
            name: 'voteproducer',
            authorization: [{ actor: account.name, permission: account.authority, }],
            data: { producers: producers.sort(), proxy, voter: account.name }
        }]
    }
    return api.transact(transaction, { blocksBehind: 3, expireSeconds: 30 })
}

function errHandler(scatter, target, originalContent, err, showAlert = true) {
    console.error('Voting error:', err)
    target.textContent = originalContent
    scatter.logout()

    // Do not show an alert() if the user rejected the transaction on purpose
    const rejected = ['signature_rejected', 'identity_rejected', 'Request Canceled']
    if(err &&  (rejected.includes(err.type) || rejected.includes(err.message))) {
        showAlert = false
    }
    if(showAlert) alert('{% translate newsletterForm.error %}: ' + JSON.stringify(err))
}

function succHandler(scatter, target, msg = '{% translate scatterVote.thanks %}') {
    target.textContent = msg
    scatter.logout() //all done, goodbye!
}

function oneClickVote(scatter, target, originalContent) {
    target.textContent = '{% translate scatterVote.voting %}'

    const rpc = new eosjs_jsonrpc.JsonRpc('https://'+host)
    const api = new eosjs_api.Api({ rpc, signatureProvider:scatter.eosHook(network, null, true) })

    scatter.login({ accounts: [network] }).then(function() {
        const account = scatter.identity.accounts.find(x => x.blockchain === 'eos')
        /*
        We could also use get_table_rows() to get the voter_info,
        but need to make sure that the result is for 'account.name'.
        get_table_rows({
            json: true,
            code: 'eosio',
            scope: 'eosio',
            table: 'voters',
            lower_bound: account.name,
            limit: 1
        })
        */
        api.rpc.get_account(account.name).then(function(data) {
            const vote = data.voter_info
            let proxy = ''
            let producers = []
            // If vote (e.g. account.voter_info) is 'null', the eosio.voters table is empty for this account,
            // i.e. the account never voted before: Just vote for ['eosdacserver'] in this case!
            if(vote !== null) {
                proxy = vote.proxy
                producers = vote.producers
            }
            if(proxy !== '') {
                api.rpc.get_account(proxy).then(function(data) {
                    if(data && data.voter_info && data.voter_info.is_proxy === 1) {
                        const proxy_producers = data.voter_info.producers
                        const eosdacserverVoted = proxy_producers.some(function(bpName) { return bpName === EOSDACSERVER })
                        if(eosdacserverVoted === true) {
                            // Re-cast vote for the current proxy
                            castVote(api, account, [], proxy).then(function(result) {
                                succHandler(scatter, target, '{% translate scatterVote.proxy %}' + proxy)
                            }).catch(function(err) {
                                errHandler(scatter, target, originalContent, err)
                            })
                        } else {
                            // Re-cast vote for the current proxy, but notify user that it does not support eosdacserver
                            castVote(api, account, [], proxy).then(function(result) {
                                succHandler(scatter, target, '{% translate scatterVote.proxy %}' + proxy)
                                alert(proxy + ' {% translate scatterVote.noSupport %}')
                            }).catch(function(err) {
                                errHandler(scatter, target, originalContent, err)
                            })
                        }
                    } else {
                        errHandler(scatter, target, originalContent, proxy+" isn't a proxy anymore")
                        alert(proxy + ' {% translate scatterVote.noProxy %}')
                    }
                }).catch(function(err) {
                    errHandler(scatter, target, originalContent, err)
                })
            } else {
                // Check status of all selected producers, e.g. if they are still registered
                Promise.all(producers.map(p => api.rpc.get_producers(true, p, 1))).then(function(responses) {
                    const reg_producers = responses.map(r => r.rows[0].owner)
                    let new_producers = []
                    // Add all selected AND registered producers into the new_producers array
                    producers.forEach(p => {
                        if(reg_producers.some(rp => rp === p)) new_producers.push(p)
                    })
                    producers = new_producers
                    const eosdacserverVoted = producers.some(function(bpName) { return bpName === EOSDACSERVER })
                    if(eosdacserverVoted === true) {
                        // Re-cast vote for current set of producers (including eosdacserver)
                        castVote(api, account, producers).then(function(result) {
                            succHandler(scatter, target)
                        }).catch(function(err) {
                            errHandler(scatter, target, originalContent, err)
                        })
                    } else {
                        if(producers.length < 30) {
                            // Add 'eosdacserver' to producers list and cast a vote
                            producers.push(EOSDACSERVER)
                            castVote(api, account, producers).then(function(result) {
                                succHandler(scatter, target)
                            }).catch(function(err) {
                                errHandler(scatter, target, originalContent, err)
                            })
                        } else {
                            // Show a modal dialog, to let the user remove one existing producer
                            // Set values inside the modal dialog
                            $('#voting_col1').empty()
                            $('#voting_col2').empty()
                            producers.sort().forEach(function(bpName, idx) {
                                const itm = '<div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" name="bp'+idx+'" id="bp'+idx+'" value="'+bpName+'" checked><label class="custom-control-label" style="font-family:monospace;" for="bp'+idx+'">'+bpName+'</label></div>'
                                if(idx < 15) {
                                    $(itm).appendTo('#voting_col1')
                                } else {
                                    $(itm).appendTo('#voting_col2')
                                }
                            })
                            // Register the submit callback, using local variables
                            $('#votingForm').submit(function(ev) {
                                ev.preventDefault()
                                const producers = $("#votingForm").serializeArray().map(function(elem) {
                                    return elem.value
                                })
                                // Add 'eosdacserver' to producers, if user removed one other producer
                                if(producers.length < 30) {
                                    producers.push(EOSDACSERVER)
                                }
                                castVote(api, account, producers).then(function(result) {
                                    $('#votingModal').modal('hide')
                                    succHandler(scatter, target)
                                }).catch(function(err) {
                                    $('#votingModal').modal('hide')
                                    errHandler(scatter, target, originalContent, err)
                                })
                            })
                            // Register the modal's Cancel/Hide handler, using local variables
                            $('#votingModal').on('hide.bs.modal', function (e) {
                                errHandler(scatter, target, originalContent, 'Modal cancelled/hidden.')
                            })
                            // Show the voting modal
                            $('#votingModal').modal('show')
                        }
                    }
                }).catch(function(err) {
                    errHandler(scatter, target, originalContent, err)
                })
            }
        }).catch(function(err) {
            errHandler(scatter, target, originalContent, err)
        })
    }).catch(function(err) {
        errHandler({ logout: function() { /* Scatter not signed in */ }}, target, originalContent, err)
    })
}

function adoptAuthenticatorByUseragent(idx, obj) {
    const originalContent = obj.textContent
    if(originalContent.includes('Scatter')) {
        const UA = window.navigator.userAgent
        // Detect EOS Lynx according to: https://developers.eoslynx.com/mobile
        if(UA === 'EOSLynx IOS' || UA === 'EOSLynx Android') {
            obj.textContent = originalContent.replace('Scatter', 'EOS Lynx')
            console.info('Adopted for EOSLynx.')
        }
    }
}

$(document).ready(function() {
    ScatterJS.plugins( new ScatterEOS(), new ScatterLynx({ Api: eosjs_api.Api, JsonRpc: eosjs_jsonrpc.JsonRpc }) )
    ScatterJS.scatter.connect('eosDAC.io').then(function( connected ) {
        if(!connected) {
            console.error('Scatter could not be found.')
            return false
        }

        // Scatter was successfully connected
        const scatter = ScatterJS.scatter
        //window.ScatterJS = null
        console.info('Scatter connected.')

        // Setup the click handler for '.scatter-vote-oneclick' links
        // and prevent their default (fallback) link/button behaviour,
        // i.e. do not follow their 'href'
        $('.scatter-vote-oneclick').click(function(ev) {
            ev.preventDefault()
            const target = ev.target
            const originalContent = target.textContent
            oneClickVote(scatter, target, originalContent)
        })
        console.info('Scatter handler registered.')

        // Adopt 'Vote using Scatter' button to 'Vote using EOS Lynx' if applicable
        $('.scatter-vote-oneclick').each(adoptAuthenticatorByUseragent)
    })
})
</script>
