<div class="card sidebar-feed">
    <div class="card-header">
        {% translate news.twitter %}
     </div>
     <div class="card-body">
        <!--<a href="https://twitter.com/eosdac?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @eosdac</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
        <a class="twitter-timeline" data-tweet-limit="1" href="https://twitter.com/eosdac?ref_src=twsrc%5Etfw">Tweets by eosdac</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    </div>
</div>