footer {
    color: $light3;
    border: 0;
    padding: 0;
}
footer h2 {
    font-size: 1.1em;
    font-weight: 500;
}
footer a, footer a:visited {
    color: $light3;
}
footer a:hover {
    color: $light3;
}

footer .footer {
    background-image: linear-gradient(to left, $purple1, $purple2);
    padding-bottom:20px;
}

// Social Icons
footer a > i {
    background: $purple3;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    padding: 5px;
    margin-right: 7px;
    margin-bottom: 15px;
    font-size: 23px;
    color: $purple1;
    display: inline-block;
    text-align: center;
}
footer a > i:hover {
    background: $light3;
    text-decoration: none;
}

footer form select {
    margin-bottom: 20px;
}

// Material Design Form
footer select.form-control, footer select.form-control:read-only {
    color: $light3;
    background-image: linear-gradient(0deg, $light3 2px, rgba(0, 150, 136, 0) 0), linear-gradient(0deg, $light3 1px, transparent 0)
}
footer select.form-control:read-only option {
    color: $dark1;
}
footer .form-group label, footer .form-group.is-focused label {
    color: $light3;
}
footer .form-group input {
    background-image: linear-gradient(0deg, $light3 2px, rgba(0, 150, 136, 0) 0), linear-gradient(0deg, $light3 1px, transparent 0)
}
footer .form-group.is-focused input {
    background-image: linear-gradient(0deg, $light3 2px, rgba(0, 150, 136, 0) 0), linear-gradient(0deg, rgba(0,0,0,0.26) 1px, transparent 0)
}
footer .form-group option {
    background-color: red;
}