footer {
    color: $light3;
    border: 0;
    padding: 0;
}
footer h2 {
    font-size: 1.1em;
    font-weight: 500;
    @media (max-width: $break-point-mobile) {
        padding-top: 30px;
    }
}
footer a, footer a:visited {
    color: $light3;
}
footer a:hover {
    color: $light3;
}
footer a.nav-link {
    @media (max-width: $break-point-mobile) {
        display: block !important;
    }
}

footer .footer {
    background-image: linear-gradient(to left, $purple1, $purple2);
    padding-bottom:20px;
}

// Social Icons
footer a > i {
    background: $purple3;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    padding: 5px;
    margin-right: 7px;
    margin-bottom: 15px;
    font-size: 23px;
    color: $purple1;
    display: inline-block;
    text-align: center;
}
footer a > i:hover {
    background: $light3;
    text-decoration: none;
}