// Global color variables from the styleguide at https://eosdac.io/styleguide
$purple1: #4A1289;
$purple2: #7C41BA;
$purple3: #B999DB;

$dark1: #1E2128;
$dark2: #272B35;
$dark3: #2F333D;

$light1: #babdbe;
$light2: #eceff1;
$light3: #ffffff;

$break-point-mobile: 992px;

body {
    background-color: $light3;
    font-family: 'Roboto', sans-serif !important;
}

.page-content.main {
    overflow: hidden;
}

.page-content.main {
    margin-top: 8px;
    @media (max-width: $break-point-mobile) {
        margin-top: 0;
    }
}
.site-header {
    @media (max-width: $break-point-mobile) {
        min-height: 41px;
    }
}

.nav-tabs li.nav-item {
    margin-bottom: 0;
}

// Link colors
a, a:visited {
    color: $purple1;
}

// Buttons
a.btn {
    text-transform: none;
    //border-radius: 10px;
    padding: 12px 5px;
    margin-right: 20px;
    margin-top: 30px;
    white-space: normal;
    min-width: 250px;
    @media (max-width: $break-point-mobile) {
        padding: 10px 30px;
        margin-top: 15px;
        margin-right: 15px;
    }
}
a.btn:last-of-type {
    margin-right: 0;
}
a.btn.solid.light {
    background-color: $light3;
    color: $purple1;
}
a:hover.btn.solid.light {
    background-color: $purple3;
    color: $light3;
}
a.btn.outline.light {
    color: $light3;
    border: solid 2px $light3;
}
button.btn.solid.dark, a.btn.solid.dark {
    background-color: $purple1;
    color: $light3 !important;
}
button:hover.btn.solid.dark, a:hover.btn.solid.dark {
    background-color: $purple2;
}

// Youtube Videos
.embed-responsive iframe {
    width: 100%;
    height: 100%;
}
.embed-responsive {
    margin-bottom: 20px;
}

// Top Plaines (Spacer)
.top-plains {
    background-image: url(/assets/spacer.png);
    background-repeat: no-repeat;
    background-size: 100% auto;

    padding-top: 0 !important;
}

// Cards, Posts, ...
.card {
    margin-bottom: 30px;
}
.card .card-header {
    background-color: $purple1;
    color: $light3;
}
.post-content {
    margin-bottom: 0;
}

// Side-/Background-Images
img.bg {
    max-height: 500px;
    max-width: none;
    margin-left: -180px;
    @media (max-width: $break-point-mobile) {
        max-height: 200px;
        margin-left: 30px;
        margin-bottom: 20px;
    }
}

// Sidebars
.sidebar-feed {
    font-weight: 500;
    font-size: 1.1em;
}

.sidebar-vote {
    font-weight: 500;
    font-size: 1.4em;
}
.sidebar-vote img {
    float: left;
    width: 20%;
    margin-right: 20px;
}

// Sections with big headline
.section {
    color: $dark1;
    padding: 75px 0;
    @media (max-width: $break-point-mobile) {
        padding: 25px 0;
    }
}
.section:last-of-type {
    padding-bottom: 0;
}
.section h1 {
    font-weight: 100;
    font-size: 3.5em;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-bottom: 0px;
    color: $purple1;
    @media (max-width: $break-point-mobile) {
        font-size: 1.8em;
    }
}
.section h1:after {
    content:""; 
    background: $purple1; 
    position: absolute; 
    top: 0px; 
    left: 15px; 
    height: 1px; 
    width: 130px;
}
.section.head h1:after {
    background: transparent !important;
}
.section.head h1 {
    padding-top: 0px !important;
}
.section h1 strong {
    font-weight: 500;
}
.section li, .section p {
    font-size: 1.2rem;
}

// Section on dark background (purple/black) with light headline (white)
.section.dark {
    color: $light3;
    background-image: linear-gradient(to right, $purple1, $purple2);
}
.section.dark.black {
    background-image: linear-gradient(to right, $dark1, $dark2);
}
.section.dark.black a {
    color: $purple3;
}
.section.dark h1 {
    color: $light3;
}
.section.dark h1:after {
    background: $light3; 
}

// Section on light background (grey) with dark headline (purple)
.section.grey {
    background: $light2;
}

.section.miscbg {
    background-image: url(/assets/miscbg-1920x805.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@media (max-width: $break-point-mobile) {
    .section h1 {
        font-size: 1.8em;
    }
}

// Big card
$big-card-offset: 30px;
.big-card {
    padding-top: $big-card-offset;
}
.big-card h1:after {
    top: $big-card-offset;
}

// Small card boxes
.box p {
    font-size: 1.3em;
}
.box p:first-of-type {
    margin: 0;
  }
.box img {
    padding: 5px 60px;
}
.box h2 {
    text-align: center;
    color: $purple1;
    font-size: 1.5em;
    font-weight: 500;
}
  