//TODO: only for big screens
nav.navbar {
    padding: 0 16px;
}
nav ul li a.nav-link {
    text-transform: none;
}
nav ul li {
    border-top: 5px solid transparent;
    border-bottom: 4px solid transparent;
    padding: 14px 0;
}
nav ul li.active {
    border-bottom-color: $light3;
}

// Language Selector
nav .nav-item.dropdown img {
    margin-bottom: 3px;
}

// Buttons at the top right
nav .nav-buttons > a {
    border-radius: 5px;
    text-transform: none;
}
nav .nav-buttons > a:first-of-type {
    background: $light3;
    color: $purple1;
    margin-right: 10px;
}
nav .nav-buttons > a:first-of-type:hover {
    background: $purple3;
}