$home-sec2-offset: 150px;
.home .sec2 {
    background: linear-gradient(transparent $home-sec2-offset, $light2 10px);
    @media (max-width: $break-point-mobile) {
        background: linear-gradient(transparent 100px, $light2 10px);
    }
}
.home .sec2 h1 {
    margin-top: $home-sec2-offset;
    @media (max-width: $break-point-mobile) {
        margin-top: 0px;
    }
}
.home .sec2 h1:after {
    top: $home-sec2-offset;
    @media (max-width: $break-point-mobile) {
        top: 0px;
    }
}

.home .sec4 h1 {
    max-width: 50%;
    @media (max-width: $break-point-mobile) {
        max-width: 100%;
    }
}

.home h1 i {
    font-size: 0.4em;
}