.news .card a, .news .card a:hover {
    text-decoration: none;
    color: $dark1;
}

.news .card a.link {
    color: $purple1;
}
.news .card a.link:hover {
    text-decoration: underline;
}

.news .sidebar-feed a {
    background-size: contain !important;
}

.news .sec1 h1 small {
    color: $dark1;
    font-size: 0.3em;
}

.news .card iframe {
    border: 0px;
    padding: 5px;
}

.news a.btn {
    @media (max-width: $break-point-mobile) {
        min-width: 150px;
    }
}