.news .sec2 h1:after {
    background: transparent;
}

.news p.rss-subscribe {
    margin-top: 30px;
}

.news .card a, .news .card a:hover {
    text-decoration: none;
    color: $dark1;
}

.news .card a.link {
    color: $purple1;
}
.news .card a.link:hover {
    text-decoration: underline;
}