.why-join .sec1 {
    background: 
        url(/assets/mockup-transparent-tinified.png) top right / contain no-repeat,
        linear-gradient(to right, $dark1, $dark2);
    padding-top: 150px;
    padding-bottom: 250px;
}

.why-join .sec1 a {
    color: $purple3;
}

.why-join .sec4 h1:after {
    background: transparent; 
}

.why-join .sec5 {
    background: 
        url(/assets/mockup-transparent-tinified.png) center right / auto 70% no-repeat,
        linear-gradient(to right, $purple1, $purple2);
}
.why-join .sec5 p:first-of-type {
    margin-bottom: 50px;
}

.why-join .sec5 .box img {
    width: 80px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    background-color: $purple3;
    padding: 15px;
    margin-bottom: 20px;
}
.why-join .sec5 .box p:first-of-type {
    margin-bottom: 15px;
}
.why-join .sec5 .box p:nth-child(2) {
    margin-bottom: 0px;
}
.why-join .sec5 .box p:last-of-type {
    font-size: 0.9em;
    color: $purple3;
}

.why-join .sec5 .btn.outline.light {
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    border-color: $purple3;
    margin-top: 50px;
}
.why-join .sec5 .btn.outline.light h2 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 5px;
}
.why-join .sec5 .btn.outline.light p {
    margin-bottom: 0;
    color: $purple3;
}