---
layout: post
title:  "Ghostbusters Is Doing a Mainnet Test Run!"
date:   2018-06-01T13:47:21
external_link: https://steemit.com/eos/@eosdac/ghostbusters-is-doing-a-mainnet-test-run
---
We're excited to announce our involvement in a testrun of launching the EOS blockchain. You can learn all about the Ghostbusters team here: <a href="https://steemit.com/eos/@eosrio/understanding-the-eos-ghostbusters-security-approach">Understanding the EOS Ghostbusters Security Approach</a>. This post builds on what is said there, so please give that a read to get fully updated on the process. We, @eosdac, together with <a href="https://steemit.com/@eosrio"><strong>EOS Rio</strong></a>, <a href="https://steemit.com/@hkeos"><strong>HKEOS</strong></a>, <a href="https://steemit.com/@eos.sw-eden"><strong>Sw/eden</strong></a>, <a href="https://steemit.com/@eostribe"><strong>EOS Tribe</strong></a>, <a href="https://steemit.com/@eos42"><strong>EOS 42</strong></a>, and too many other Block Producer candidates to list, are working hard to do a complete run through of the following process:

<center><a href="https://user-images.githubusercontent.com/344748/40841353-c94ff0c8-656f-11e8-8ebf-a610eb639d22.png"><img src="https://user-images.githubusercontent.com/344748/40841353-c94ff0c8-656f-11e8-8ebf-a610eb639d22.png"></a><br /><sub>(image credit: @eosrio)</sub></center>

This is some really complicated stuff! Those who have been directly involved in creating and fine-tuning this process have done a fantastic, non-stop job, and we couldn't be prouder to be involved.

We are taking the approach recommend by @dan to use a single ABP (Appointed Block Producer) to launch the chain. This will be booted up on a private network to ensure everything remains completely clean and secure. Once the chain as been started, a snapshot will be taken which a few different groups will use to validate all the system and token contracts along with the EOS token snapshot balances.

If this were the actual production launch, the process would pause at this stage and nothing more would be done until we have independent verification that the chain is exactly correct and balances are accurate with everything accounted for.

For this testrun, we'll continue forward with the process while validation is taking place and ultimately open up the chain for block producers to register themselves and for users to vote for block producers.

At this stage, we are not recommending most users get involved in this test voting. The tools for voting for block producers are still being developed and, this early on, the use of web wallets is not recommended because the initial EOS snapshot accounts do not have account recovery. If you lose your private keys to an attacker or malicious website, you could lose all your funds forever.

For advanced users who fully understand the risks involved and take full personal responsibility for their actions to secure their own tokens, we will have a portal available here:

https://eosportal-front.herokuapp.com/

<center><a href="https://eosportal-front.herokuapp.com/"><img src="https://user-images.githubusercontent.com/344748/40841489-3e1438f6-6570-11e8-931a-b8f60b0372ef.png"></a></center>

This portal will use Scatter which you can obtain here: https://scatter-eos.com/

Again, we are not taking responsibility at this stage to indicate which tools are safe to put your private keys into. This test run is for advanced users who understand the risks. You can find out more about the process of voting for Block Producers here: https://tokenika.github.io/secure-bp-voting/

We're very excited about this test run which happens in less than an hour based on the time of this post (you can see <a href="https://www.timeanddate.com/countdown/launch?p0=136&iso=20180601T15&year=2018&month=6&day=1&hour=15&min=0&sec=0&msg=Ghostbusters%20Mainnet%20Dry-Run&csz=1#">the countdown clock here</a>). By rehearsing this process before the production mainnet launch, we as block producer candidates will be better prepared to launch <a href="https://steemit.com/eos/@eosdac/statement-to-community">a single</a>, reliable, secure EOS mainnet.

If you have questions or concerns about this process, please leave your comments below or join the main EOS Telegram channel here: https://t.me/EOSproject

Thank you all for your support during these exciting times!
